#login-form {
    margin-top: 20px;
}

#login-form input{
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.6);
    background-color: rgba(0,0,0,0);
    text-align: center;
    width: 230px;
    height: 30px;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
}

#login-form input:focus {
    outline: none;
    background-color: none;
}

#login-form input::placeholder {
    color: rgba(0,0,0,0.8);
}

#login-form button {
    border: none;
    background: none;
    font-size: 23px;
}

#greeting {
    font-size: 50px;
    padding-top: 20px;
}